<section>
    <div class="conatiner" style="margin-left: 5rem;">
       {{#if products.length}}
        <table class="table mt-5 " >
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
            <tr>
                <td><img src="/product-images/{{this.product._id}}.jpg" style="width :70px; height:auto;" alt="">
                <td>{{this.product.name}}</td>
                <td>{{this.product.price}}</td>
                  <td>
                    <button type="button" class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
                    <span id="{{this.product._id}}">{{this.quantity}}</span>
                    <button type="button" class="cart-item-count" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>
                </td>
                <td>
                    <button onclick="removeItem('{{this._id}}','{{this.product._id}}')" class="btn btn-danger">Remove</button>
                </td>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <hr>
        <div style="margin-left: 10rem;">
        <h4 class="mt-4  " style="float: right;margin-right:10rem;">Total Rs:<span id="total">{{total}}</span></h4>
        <a href="/place-order" style="float:right; margin-right:10rem;width:100%" class="btn btn-success">Place Order</a>
    </div>
    </div>
    {{else}}
             <div class="text-center pt-5">
                <h3 >Cart is empty<br>Please add some items to your cart.</h3>
                <a href="/" class="btn btn-success">Add products</a>
             </div>
                       
                {{/if}}
</section>

<script >
   function changeQuantity(cartId, prodId, userId,count) {
    let quantity = parseInt(document.getElementById(prodId).innerHTML);
    count = parseInt(count);
    $.ajax({
      url: "/change-product-quantity/",
      data: {
        user:userId,
        cart: cartId,
        product: prodId,
        count: count,
        quantity: quantity,
      },
      method: "POST",
      success: (response) => {
        if (response.removeProduct) {
          alert("Product removed from cart");
          location.reload();
        } else {

          document.getElementById(prodId).innerHTML = quantity + count;
          document.getElementById('total').innerHTML=response.total;

        }
      },
      error: function (xhr, status, error) {
        console.error("Error:", error);
        // Handle error if needed
      },
    });
  }
  function removeItem(cartId,prodId){
    $.ajax({
      url: "/remove-product/",
      data: {
        cart: cartId,
        product: prodId
      },
      method: "POST",
      success: (response) => {
        
          alert("Product removed from cart");
          location.reload();
        
      },
      error: function (xhr, status, error) {
        console.error("Error:", error);
        // Handle error if needed
      },
    });
  
  }
</script>