<section>
    <div class="conatiner" style="margin-left: 5rem;">
        <table class="table mt-5 "id="productsTable" >
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">Mobile</th>
                    
                    <th scope="col">Payment mode</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
              {{#each orders}}
            <tr>
               
                <td>{{this.deliveryDetails.name}}</td>
                <td>{{this.deliveryDetails.address}}</td>
                <td>{{this.deliveryDetails.pincode}}</td>
                <td>{{this.deliveryDetails.mobile}}</td>
                <td>{{this.paymentMethod}}</td>
                <td>{{this.status}}</td> 
                <td>{{this.date}}</td> 
                <td>Rs.{{this.totalAmount}}</td>  
                  
                  
                <td>
                    <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View Products</a>
                </td>

               
              
            </tr>
            {{/each}}
            </tbody>
        </table>
        
    </div>
    </div>
</section>
<script>
 $(function(){
  $('#productsTable').DataTable()
 })
</script>


